/* This file is for your main application css. */

@import "bootstrap";

html {
    height: 100%;                      
  }
  body {
    height: 100%;                       
    margin: 0;                         
    overflow: hidden;
  }

.tile{
    padding:10px;
    margin:10px;
    border:1px solid black;
    display: inline;

}
.col-8 {
    width: 75%;
}

.board{
    display:flex;
    flex-direction:column;
    height:90vh;
    align-items:center;
  }
  
  .checker_row{
    display:flex;
    flex-wrap: nowrap;
    flex-direction:row;
    flex-shrink:0;
    justify-content:center;
  }
  .checker_cell{
     flex-basis:4rem;
     height:4rem;
     flex-shrink:0;
     color: red;
     background:#F0D2B4 ;
  }
  .checker_cell.odd:nth-of-type(2n),.checker_cell.even:nth-of-type(2n+1)
  {
      background:#BA7A3A;
  }
  
  .black-square
  {
      background-color:black;

  }
  .RedCheckers {
      background:red;
  }
  .BlackCheckers {
    background:black;
}
  .circle {
      border-radius: 50%;
      width:40px;
      height:40px;
      vertical-align: middle;
      left:25%;
      top:10pxa;
      display:table-cell;
      position:relative;
      box-shadow: 0 1px 6px rgba(0, 0, 0, 0.12), 0 1px 4px rgba(0, 0, 0, 0.24);
  }
  .highlight{
      border:3px solid green;
  }
  .chat{
    background: rgba(169, 169, 169, 0.623);
    height: 100%;
    position: relative;
    width:inherit;
  }
  #chatBox{
      position: fixed;
      bottom: 0;
  }
  #chatArea {
      background: white;
      margin:10px;
      height:450px;
      overflow-y: auto;
  }
  .king {
      margin: 0 auto;
      font-weight: bold;
      vertical-align: middle;
      left: 40%;
      font-size: 20px;
      position: relative;
      color:white;
  }
  .kingnone {
      display: none
  }